<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Initialize Institute</h1>
        
        {% if initialized %}
            Already initialized!
        {% else %}
            <div id="initializer">
                <form id="initialize-form" name="initialize-form">
                    <dl>
                        <dt>Certification Center IP address:</dt>
                        <dd><input type="text" name="certcenter_ip_address" value="" required></dd>
                        <dt>Institute name:</dt>
                        <dd><input type="text" name="institute_name"></dd>
                    </dl>
                </form>
                <button onclick="initialize()">Initialize</button>
            </div>

        {% endif %}


        
    <script>
        {% if initialized %}
            // Nothing
        {% else %}

            function initialize() {
                var initializer_div = document.getElementById('initializer')
                var form_element = document.getElementById('initialize-form')
                var form = new FormData(form_element)
                var formObject = {}
                form.forEach( function (value,key) {
                    formObject[key] = value
                })

                formJson = JSON.stringify(formObject)
                console.log(formJson)
                
                var url = window.location.protocol + "//" + window.location.host + "/api/initialize";
                alert("Initializing institute! Sending initialization request to " + url)
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open("POST", url, true);
                xmlHttp.setRequestHeader("Content-Type","application/json")
                xmlHttp.onreadystatechange = function () {
                    if (xmlHttp.readyState == 4) {
                        if (xmlHttp.status == 200) {
                            console.log(xmlHttp.responseText);
                            initializer_div.innerHTML = "<h2>Initialized!</h2>"
                        } else {
                            alert("Failed to initialize")   
                        }
                    }
                }
                xmlHttp.send(formJson);
            }
        {% endif %}
    </script>
    </body>